<p id="notice"><%= notice %></p>

<h1 class="user_title">Users</h1>

<table>
  <thead>
    <tr>
      <th>first name</th>
      <th>last name</th>
      <th>email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to "Show User's details", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
