
<div class = "profiles">
<h1><%= @user.first_name %> <%= @user.last_name %><h1>
<h2>Contact Info</h2>

<ul, list-style: "none">
<li>Email: <%= @user.email %></li>
<li>Address: <%= @user.address %></li>
</ul>



<%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link" if current_user ==  @user %>
</div>


<% if current_user.admin == true %>
<div class="admin_cart_view"><%= button_to "Delete Account Forever", registration_path(:user), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
<h2>User's cart</h2></div>
<%= render 'user_cart', user: @user %>
<% end %>
