<div class = "container">
<h1> <%= @user.first_name %> <%= @user.last_name %> <h1>
<h2> Contact </h2>
<ul>
<li><%= @user.email %></li>
<li><%= @user.address %></li>
</ul>

<h2> Current Cart </h2>
<% if @carts != nil  %>
    <% @carts.each do |cart| %>
    <%= cart.item.name %>
      <% end %>
      <% end %>
<%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link" %>
</div>
<%= render 'user_cart', user: @user %>
