<p id="notice"><%= notice %></p>

<p style="text-align: center;">
  <%= link_to 'New Item', new_item_path, class: "btn btn-warning btn-lg" %>
</p>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <button class="category_button" data-cat="all" onclick="button()">All Produce</button>
  </li>

  <% category_array = [] %>
  <% @items.each do |item| %>

      <% category_array.push(item.category)%>

  <% end %>
  <% category_array.uniq!.each do |category| %>
  <li class="nav-item">
    <button class="category_button" data-cat="<%= category %>" onclick="button()"><%= category %></button>
  </li>
  <% end %>


</ul>

<div class="container_grid">
    <% @items.each do |item| %>
        <% cart_check = current_user.carts.where(item_id: item.id) %>
        <div class="item_box initial_hide all <%= item.category %>">
        <div class="img_box" ><%= image_tag item.image_url(:product_image), class: "item_img" %></div>
        <div style="font-weight: bolder;"><%= item.name %></div>
        <div><%= item.description %></div>
        <div style="font-weight: bolder;">$<%= item.price %></div>
        <div style="font-weight: bolder;">Stock level: <%= item.stock_status %></div>
        <%= link_to 'Show', item %>
        <%= link_to 'Edit', edit_item_path(item) %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% if user_signed_in? %>
            <% if cart_check.empty? || cart_check[0].quantity == 0 %>
            <%= render 'carts/form', cart: Cart.new(user_id: current_user.id, item_id: item.id), text_before: "Quantity: ", button_text: "add to cart"  %>
              <% else %>
              <%= render 'carts/form', cart: cart_check[0], text_before: "Already in cart (would you like to add more?):", button_text: "update cart" %>


            <% end %>
          <% end %>
      </div>
    <% end %>
</div>


<br>
