<p id="notice"><%= notice %></p>

<h1>Items</h1>


<div class="container_grid">
    <% @items.each do |item| %>
      <div class="item_box">
        <div><%= image_tag item.image_url(:product_image) %></div>
        <div style="font-weight: bolder;"><%= item.name %></div>
        <div><%= item.description %></div>
        <div style="font-weight: bolder;">$<%= item.price %></div>
        <%= link_to 'Show', item %>
        <%= link_to 'Edit', edit_item_path(item) %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= render 'carts/form', cart: Cart.new(user_id: current_user.id, item_id: item.id) %>
      </div>
    <% end %>
</div>


<br>

<%= link_to 'New Item', new_item_path %>
