<p id="notice"><%= notice %></p>
<div class=item_show>
<div class=image>
  <p>

    <%= image_tag @item.image_url %>
  </p>
</div>
<div class=flex_box>
<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Stock status:</strong>
  <%= @item.stock_status %>
</p>
</div>
<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
</div>
