<%= form_with(model: cart, local: true) do |form| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :item_id, id: :cart_item_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, id: :cart_user_id %>
  </div>

  <div class="field">
      <p>Quantity:  <%= form.number_field :quantity, id: :cart_quantity, class: "cart_qty_field", value: "" %></p>
  </div>

  <div class="actions">
    <label  class="btn btn-outline-light btn-lg"><%= button_text %>
      <span style="display: none;">
        <%= form.submit %>
      </span>
    </label>
  </div>
<% end %>
